@{
    ViewBag.Title = "Home Page";
}
    <body>
        <div class="slider">
            <ul>
                <li><img src="~/Img/img-principal.png" alt="si"></li>
                <li><img src="~/Img/slider-2.png" alt=""></li>
                <li><img src="~/Img/slider-3.png" alt=""></li>
                <li><img src="~/Img/slider-4.png" alt=""></li>
            </ul>
        </div>
        <div class="img-muestra">
            <marquee><h1 class="titulo">Las mejores PC</h1></marquee>
            <img class="rounded" src="~/Img/laptop-slider.jpg" alt="">
            <img class="rounded" src="~/Img/Xiaomi-Mi-Notebook.jpg" alt="">
            <img class="rounded" src="~/Img/hp-840.png" alt="">
            <img class="rounded" src="~/Img/slogan.png" alt="">
        </div>
    </body>